---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <!--<p class="author_subtitle">{{site.about-author}}</p>-->      
          <p class="author_subtitle">校長好，老師好，我是周汀揚，2016年6月出生，今年5歲。我興趣廣泛：數數、畫畫、寫字、唱歌、跳舞、踢足球，打網球、游泳等等，其中我最喜歡的是數學。我參加各種數學比賽，雖然成績還未公佈，但至少證明我很有上進心，我願意學，希望有機會去您的課堂學習。</p>
          <div class="author_social">
            {% if site.email %}
            <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
            {% else %}
            <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:dwayne@example.com">dwayne@example.com</a></span>
            {% endif %}
            
            {% if site.phone %}
            <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
            {% else %}
            <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+496-169-65-57">(496)-169-6557</a></span>
            {% endif %}          
          </div>
        </div>
      </div>

      {% include youtubePlayer.html id="2P3W16JBDic" %}

      <div class="about_social">        
        <!-- {% include social_footer.html %} -->
      </div>
    </div> <!-- End Section Author -->
</section>